* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #293969;
    --secondary-color: #014a7d;
    --background-color: #0098cd;
    --text-color: #363636;
    --text-color-2: #403f3f;
    --shadow-color: #0000004d;
}

body {
    background-image: linear-gradient(to left, var(--secondary-color), var(--background-color));
}

/* --------------------------------------------------------------------------------------- NAVBAR */

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/src/assets/images/baner-navbar.webp');
}

.navbar img {
    margin-top: 5px;
    width: 200px;
}

/* --------------------------------------------------------------------------------------- LANDINGPAGE */

/* -------------------------------------------------------- SECTION 1 LP */

.section-1-lp {
    padding-top: 10px;
}

.section-1-lp-titulo {
    width: 320px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

.section-1-lp-titulo h1 {
    padding-bottom: 5px;
}

.section-1-lp-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    animation: spin 1.5s linear infinite;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.circle-menu {
    width: 300px;
    height: 300px;
    position: relative;
}

.circle-menu button {
    all: unset;
}

.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
}

.circle-item {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform 0.7s ease-out, opacity 0.7s ease-out;
}

.show {
    opacity: 1;
    transform: scale(0);
    animation: moveFromCenter 0.7s ease-out forwards;
}

@keyframes moveFromCenter {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.item-1 {
    top: 10%;
    left: 50%;
}

.item-2 {
    top: 40%;
    left: 90%;
}

.item-3 {
    top: 80%;
    left: 75%;
}

.item-4 {
    top: 80%;
    left: 25%;
}

.item-5 {
    top: 40%;
    left: 10%;
}

/* --------------------------------------------------------------------------------------- FOOTER */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
